In [11]:
import os
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd

In [12]:
# Load rutting data
rut = r'D:\Xenomatix\20240726\data\20240726RUN02\Log\xw_rutting_20240726RUN02.csv'
rut_df = pd.read_csv(rut, sep=';')
rut_df.columns = rut_df.columns.str.strip()
rut_df = rut_df.drop(columns=['Unnamed: 5'])
survey_code = ((os.path.basename(rut)).split('_')[2]).split('.')[0]
for index, row in rut_df.iterrows():
    rut_df.at[index, 'rut_index'] = int(index * 25 / 5)
rut_df.set_index('rut_index', inplace=True)
rut_df['survey_code'] = survey_code

# Extract x and y coordinates from ' qgis_shape' and create GeoDataFrame
rut_df['rut_point_x'] = rut_df['qgis_shape'].apply(lambda x: float(x.split('(')[1].split(')')[0].split(',')[0].split(' ')[1]))
rut_df['rut_point_y'] = rut_df['qgis_shape'].apply(lambda x: float(x.split('(')[1].split(')')[0].split(',')[0].split(' ')[0]))
rut_df['left_rutting'] = rut_df['left rutting height']
rut_df['right_rutting'] = rut_df['right rutting height']
rut_df['avg_rutting'] = rut_df['average height']
rut_df.drop(columns=['qgis_shape', 'left rutting height', 'right rutting height', 'average height'], inplace=True)
rut_df = gpd.GeoDataFrame(rut_df, geometry=gpd.points_from_xy(rut_df['rut_point_y'], rut_df['rut_point_x']))
max_chainage = rut_df.index.max()
print(max_chainage)

rut_df.columns

# Plot the data
# rut_df.plot(marker='o', color='red', markersize=5, figsize=(10, 10))
# plt.title(f"Geographical Plot for Survey Code: {survey_code}")
# plt.xlabel("Longitude")
# plt.ylabel("Latitude")
# plt.grid(True)
# plt.show()

6180.0

Index(['#Date', 'survey_code', 'rut_point_x', 'rut_point_y', 'left_rutting',
       'right_rutting', 'avg_rutting', 'geometry'],
      dtype='object')

In [13]:
rut_df.head(16)

,#Date,survey_code,rut_point_x,rut_point_y,left_rutting,right_rutting,avg_rutting,geometry
rut_index,,,,,,,,
0.0,26/07/2024,20240726RUN02,13.853040,100.443802,2.08,0.03,1.06,POINT (100.44380 13.85304)
5.0,26/07/2024,20240726RUN02,13.852996,100.443810,1.21,0.00,0.60,POINT (100.44381 13.85300)
10.0,26/07/2024,20240726RUN02,13.852951,100.443819,1.95,0.00,0.98,POINT (100.44382 13.85295)
15.0,26/07/2024,20240726RUN02,13.852907,100.443827,1.69,0.00,0.84,POINT (100.44383 13.85291)
20.0,26/07/2024,20240726RUN02,13.852862,100.443834,2.73,0.04,1.38,POINT (100.44383 13.85286)
25.0,26/07/2024,20240726RUN02,13.852818,100.443841,2.68,0.09,1.38,POINT (100.44384 13.85282)
30.0,26/07/2024,20240726RUN02,13.852773,100.443846,2.29,0.00,1.14,POINT (100.44385 13.85277)
35.0,26/07/2024,20240726RUN02,13.852728,100.443852,2.38,0.00,1.19,POINT (100.44385 13.85273)
40.0,26/07/2024,20240726RUN02,13.852683,100.443856,1.50,0.00,0.75,POINT (100.44386 13.85268)
45.0,26/07/2024,20240726RUN02,13.852638,100.443860,3.24,0.02,1.63,POINT (100.44386 13.85264)
50.0,26/07/2024,20240726RUN02,13.852593,100.443864,3.32,0.12,1.72,POINT (100.44386 13.85259)
55.0,26/07/2024,20240726RUN02,13.852548,100.443868,1.83,0.11,0.97,POINT (100.44387 13.85255)
60.0,26/07/2024,20240726RUN02,13.852503,100.443871,1.96,0.00,0.98,POINT (100.44387 13.85250)
65.0,26/07/2024,20240726RUN02,13.852458,100.443874,3.10,0.00,1.55,POINT (100.44387 13.85246)
70.0,26/07/2024,20240726RUN02,13.852412,100.443876,4.27,0.00,2.13,POINT (100.44388 13.85241)
75.0,26/07/2024,20240726RUN02,13.852367,100.443879,1.69,0.00,0.84,POINT (100.44388 13.85237)

In [14]:
rut_df.tail(1)

,#Date,survey_code,rut_point_x,rut_point_y,left_rutting,right_rutting,avg_rutting,geometry
rut_index,,,,,,,,
6180.0,26/07/2024,20240726RUN02,13.856224,100.490839,2.6,2.64,2.62,POINT (100.49084 13.85622)

เอา rutting ตั้ง join ด้วย iri จำนวนยึดตาม rutting rut_index == iri_index | iri ได้มากจาก avg iri_left iri_right

In [87]:
import pandas as pd
import numpy as np
import os

# Load iri data
data_path = r'D:\Xenomatix\20240726\data\20240726RUN02\Log\xw_iri_qgis_20240726RUN02.csv'
iri_df = pd.read_csv(data_path, sep=';')

# Strip any leading or trailing spaces from column names
iri_df.columns = iri_df.columns.str.strip()

# Compute the 'survey_code' from the file name
survey_code = ((os.path.basename(data_path)).split('_')[3]).split('.')[0]

# Create 'iri_lane' and 'index' columns
iri_df['iri_lane'] = (iri_df['iri left (m/km)'] + iri_df['iri right (m/km)']) / 2
iri_df['index'] = range(1, len(iri_df) + 1)
iri_df['survey_code'] = survey_code

# Create 'iri_index' column with intervals of 5, starting from 0
iri_df['iri_index'] = (iri_df['index'] - 1) * 5
# Set 'index' as the DataFrame index
iri_df.set_index('index', inplace=True)

# Function to split and randomize iri_lane value
def split_and_randomize(value, parts=4):
    random_parts = np.random.rand(parts)   # Generate random fractions
    random_parts /= random_parts.sum()     # Normalize to ensure sum is equal to 1
    split_values = random_parts * value    # Scale fractions to match the original value
    return split_values

expanded = []

for _, row in iri_df.iterrows():
    split_values = split_and_randomize(row['iri_lane'])
    for value in split_values:
        expanded.append({
            "index": row.name,  # Use row.name to access index value
            "Date": row['Date'],
            "iri": value,
            "iri_left_(m/km)": row['iri left (m/km)'],
            "iri_right_(m/km)": row['iri right (m/km)'],
            "iri_lane": row['iri_lane'],
            "iri_Std_left_(m/km)": row['iri Std left (m/km)'],
            "iri_Std_right_(m/km)": row['iri Std right (m/km)'],
            "worst_iri_(m/km)": row['worst iri (m/km)'],
            "iri_difference_(m/km)": row['iri difference (m/km)'],
            "survey_code": row['survey_code'],
            "iri_index": row['iri_index']
        })

# Create expanded DataFrame
expanded_df = pd.DataFrame(expanded)

# Correct the 'iri_index' in the expanded DataFrame to have increments of 5
expanded_df['iri_index'] = range(0, len(expanded_df) * 5, 5)

In [52]:
expanded_df.tail(1)

,index,Date,iri,iri_left_(m/km),iri_right_(m/km),iri_lane,iri_Std_left_(m/km),iri_Std_right_(m/km),worst_iri_(m/km),iri_difference_(m/km),survey_code,iri_index
1231,308,26/07/2024,2.653376,4.743412,7.756645,6.250029,4.057893,6.429222,7.756645,3.013233,20240726RUN02,6155

In [92]:
expanded_df.tail(10)

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

,index,Date,iri,iri_left_(m/km),iri_right_(m/km),iri_lane,iri_Std_left_(m/km),iri_Std_right_(m/km),worst_iri_(m/km),iri_difference_(m/km),survey_code,iri_index
1222,306,26/07/2024,0.768053,6.735491,6.620786,6.678139,4.039852,6.458464,6.735491,0.114704,20240726RUN02,6110
1223,306,26/07/2024,2.522999,6.735491,6.620786,6.678139,4.039852,6.458464,6.735491,0.114704,20240726RUN02,6115
1224,307,26/07/2024,1.934859,4.782251,5.930027,5.356139,4.015040,4.991943,5.930027,1.147776,20240726RUN02,6120
1225,307,26/07/2024,1.754973,4.782251,5.930027,5.356139,4.015040,4.991943,5.930027,1.147776,20240726RUN02,6125
1226,307,26/07/2024,1.479108,4.782251,5.930027,5.356139,4.015040,4.991943,5.930027,1.147776,20240726RUN02,6130
1227,307,26/07/2024,0.187199,4.782251,5.930027,5.356139,4.015040,4.991943,5.930027,1.147776,20240726RUN02,6135
1228,308,26/07/2024,0.535046,4.743412,7.756645,6.250029,4.057893,6.429222,7.756645,3.013233,20240726RUN02,6140
1229,308,26/07/2024,0.541969,4.743412,7.756645,6.250029,4.057893,6.429222,7.756645,3.013233,20240726RUN02,6145
1230,308,26/07/2024,2.323232,4.743412,7.756645,6.250029,4.057893,6.429222,7.756645,3.013233,20240726RUN02,6150
1231,308,26/07/2024,2.849781,4.743412,7.756645,6.250029,4.057893,6.429222,7.756645,3.013233,20240726RUN02,6155

In [80]:
import pandas as pd
import numpy as np
import os

def load_and_prepare_iri_data(data_path):
    """Load and prepare IRI data from a CSV file."""
    # Load iri data
    iri_df = pd.read_csv(data_path, sep=';')

    # Strip any leading or trailing spaces from column names
    iri_df.columns = iri_df.columns.str.strip()

    # Compute the 'survey_code' from the file name
    survey_code = os.path.basename(data_path).split('_')[3].split('.')[0]

    # Create 'iri_lane' and 'index' columns
    iri_df['iri_lane'] = (iri_df['iri left (m/km)'] + iri_df['iri right (m/km)']) / 2
    iri_df['index'] = range(1, len(iri_df) + 1)
    iri_df['survey_code'] = survey_code

    # Create 'iri_index' column with intervals of 5, starting from 0
    iri_df['iri_index'] = (iri_df['index'] - 1) * 5

    # Set 'index' as the DataFrame index
    iri_df.set_index('index', inplace=True)

    return iri_df

def split_and_randomize(value, parts=4):
    """Split and randomize a value into a specified number of parts."""
    random_parts = np.random.rand(parts)
    random_parts /= random_parts.sum()  # Normalize to ensure sum is equal to 1
    split_values = random_parts * value  # Scale fractions to match the original value
    return split_values

def expand_iri_data(iri_df):
    """Expand IRI data by splitting and randomizing 'iri_lane' values."""
    expanded = []

    for _, row in iri_df.iterrows():
        split_values = split_and_randomize(row['iri_lane'])
        for value in split_values:
            expanded.append({
                "index": row.name,
                "Date": row['Date'],
                "iri": value,
                "iri_left_(m/km)": row['iri left (m/km)'],
                "iri_right_(m/km)": row['iri right (m/km)'],
                "iri_lane": row['iri_lane'],
                "iri_Std_left_(m/km)": row['iri Std left (m/km)'],
                "iri_Std_right_(m/km)": row['iri Std right (m/km)'],
                "worst_iri_(m/km)": row['worst iri (m/km)'],
                "iri_difference_(m/km)": row['iri difference (m/km)'],
                "survey_code": row['survey_code'],
                "iri_index": row['iri_index']
            })

    # Create expanded DataFrame
    expanded_df = pd.DataFrame(expanded)

    # Correct the 'iri_index' in the expanded DataFrame to have increments of 5
    expanded_df['iri_index'] = range(0, len(expanded_df) * 5, 5)
    
    # iri_df['event_str'] = [i * 25 for i in range(len(iri_df))]
    # iri_df['event_end'] = [i * 25 + 25 for i in range(len(iri_df))]
    
    expanded_df['event_str'] = [i * 5 for i in range(len(expanded_df))]
    expanded_df['event_end'] = [i * 5 + 5 for i in range(len(expanded_df))]
    return expanded_df

# Path to the data file
data_path = r'D:\Xenomatix\20240726\data\20240726RUN02\Log\xw_iri_qgis_20240726RUN02.csv'

# Load and prepare the data
iri_df = load_and_prepare_iri_data(data_path)

# Expand the data
expanded_df = expand_iri_data(iri_df)

In [93]:
expanded_df.tail(10)

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

,index,Date,iri,iri_left_(m/km),iri_right_(m/km),iri_lane,iri_Std_left_(m/km),iri_Std_right_(m/km),worst_iri_(m/km),iri_difference_(m/km),survey_code,iri_index
1222,306,26/07/2024,0.768053,6.735491,6.620786,6.678139,4.039852,6.458464,6.735491,0.114704,20240726RUN02,6110
1223,306,26/07/2024,2.522999,6.735491,6.620786,6.678139,4.039852,6.458464,6.735491,0.114704,20240726RUN02,6115
1224,307,26/07/2024,1.934859,4.782251,5.930027,5.356139,4.015040,4.991943,5.930027,1.147776,20240726RUN02,6120
1225,307,26/07/2024,1.754973,4.782251,5.930027,5.356139,4.015040,4.991943,5.930027,1.147776,20240726RUN02,6125
1226,307,26/07/2024,1.479108,4.782251,5.930027,5.356139,4.015040,4.991943,5.930027,1.147776,20240726RUN02,6130
1227,307,26/07/2024,0.187199,4.782251,5.930027,5.356139,4.015040,4.991943,5.930027,1.147776,20240726RUN02,6135
1228,308,26/07/2024,0.535046,4.743412,7.756645,6.250029,4.057893,6.429222,7.756645,3.013233,20240726RUN02,6140
1229,308,26/07/2024,0.541969,4.743412,7.756645,6.250029,4.057893,6.429222,7.756645,3.013233,20240726RUN02,6145
1230,308,26/07/2024,2.323232,4.743412,7.756645,6.250029,4.057893,6.429222,7.756645,3.013233,20240726RUN02,6150
1231,308,26/07/2024,2.849781,4.743412,7.756645,6.250029,4.057893,6.429222,7.756645,3.013233,20240726RUN02,6155

In [65]:
meg_df = pd.merge(rut_df, expanded_df, left_on='rut_index', right_on='iri_index', how='left')
# meg_df.to_csv('iri_rut.csv', index=False)

In [79]:
meg_df.tail(10)

,#Date,survey_code_x,rut_point_x,rut_point_y,left_rutting,right_rutting,avg_rutting,geometry,index,Date,...,iri_right_(m/km),iri_lane,iri_Std_left_(m/km),iri_Std_right_(m/km),worst_iri_(m/km),iri_difference_(m/km),survey_code_y,iri_index,event_str,event_end
1227,26/07/2024,20240726RUN02,13.856170,100.490426,2.28,0.89,1.58,POINT (100.49043 13.85617),307.0,26/07/2024,...,5.930027,5.356139,4.015040,4.991943,5.930027,1.147776,20240726RUN02,6135.0,6135.0,6140.0
1228,26/07/2024,20240726RUN02,13.856178,100.490472,4.39,0.49,2.44,POINT (100.49047 13.85618),308.0,26/07/2024,...,7.756645,6.250029,4.057893,6.429222,7.756645,3.013233,20240726RUN02,6140.0,6140.0,6145.0
1229,26/07/2024,20240726RUN02,13.856185,100.490517,7.26,0.16,3.71,POINT (100.49052 13.85619),308.0,26/07/2024,...,7.756645,6.250029,4.057893,6.429222,7.756645,3.013233,20240726RUN02,6145.0,6145.0,6150.0
1230,26/07/2024,20240726RUN02,13.856192,100.490563,6.98,0.59,3.78,POINT (100.49056 13.85619),308.0,26/07/2024,...,7.756645,6.250029,4.057893,6.429222,7.756645,3.013233,20240726RUN02,6150.0,6150.0,6155.0
1231,26/07/2024,20240726RUN02,13.856198,100.490609,4.22,0.54,2.38,POINT (100.49061 13.85620),308.0,26/07/2024,...,7.756645,6.250029,4.057893,6.429222,7.756645,3.013233,20240726RUN02,6155.0,6155.0,6160.0
1232,26/07/2024,20240726RUN02,13.856204,100.490655,1.70,1.42,1.56,POINT (100.49065 13.85620),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1233,26/07/2024,20240726RUN02,13.856209,100.490701,3.01,0.35,1.68,POINT (100.49070 13.85621),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1234,26/07/2024,20240726RUN02,13.856214,100.490747,1.75,0.40,1.08,POINT (100.49075 13.85621),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1235,26/07/2024,20240726RUN02,13.856219,100.490793,2.58,0.83,1.70,POINT (100.49079 13.85622),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1236,26/07/2024,20240726RUN02,13.856224,100.490839,2.60,2.64,2.62,POINT (100.49084 13.85622),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
frame_num = r'D:\Xenomatix\20240726\data\20240726RUN02\Camera_GeoTagged'
frame_list = [f for f in os.listdir(frame_num) if f.endswith('.jpg')]
fra_df = pd.DataFrame({'frame': frame_list})
max_chainage
for index, row in fra_df.iterrows():
    fra_df.at[index, 'index'] = int(index + 1)
fra_df.set_index('index', inplace=True)
max_frame = fra_df.index.max()
fra_df['chainage_pic'] = fra_df.index * (max_chainage / max_frame)
fra_df['chainage_pic'] = fra_df['chainage_pic'].round(0)

In [97]:
fra_df.head(57)

                                       frame  chainage_pic
index
1.0    20240726RUN02_rgb_image0000000001.jpg           7.0
2.0    20240726RUN02_rgb_image0000000002.jpg          14.0
3.0    20240726RUN02_rgb_image0000000003.jpg          21.0
4.0    20240726RUN02_rgb_image0000000004.jpg          28.0
5.0    20240726RUN02_rgb_image0000000005.jpg          35.0
6.0    20240726RUN02_rgb_image0000000006.jpg          42.0
7.0    20240726RUN02_rgb_image0000000007.jpg          49.0
8.0    20240726RUN02_rgb_image0000000008.jpg          56.0
9.0    20240726RUN02_rgb_image0000000009.jpg          63.0
10.0   20240726RUN02_rgb_image0000000010.jpg          70.0
11.0   20240726RUN02_rgb_image0000000011.jpg          77.0
12.0   20240726RUN02_rgb_image0000000012.jpg          84.0
13.0   20240726RUN02_rgb_image0000000013.jpg          91.0
14.0   20240726RUN02_rgb_image0000000014.jpg          98.0
15.0   20240726RUN02_rgb_image0000000015.jpg         105.0
16.0   20240726RUN02_rgb_image0000000016.jpg         112.0
17.0   20240726RUN02_rgb_image0000000017.jpg         119.0
18.0   20240726RUN02_rgb_image0000000018.jpg         126.0
19.0   20240726RUN02_rgb_image0000000019.jpg         133.0
20.0   20240726RUN02_rgb_image0000000020.jpg         140.0
21.0   20240726RUN02_rgb_image0000000021.jpg         147.0
22.0   20240726RUN02_rgb_image0000000022.jpg         154.0
23.0   20240726RUN02_rgb_image0000000023.jpg         162.0
24.0   20240726RUN02_rgb_image0000000024.jpg         169.0
25.0   20240726RUN02_rgb_image0000000025.jpg         176.0
26.0   20240726RUN02_rgb_image0000000026.jpg         183.0
27.0   20240726RUN02_rgb_image0000000027.jpg         190.0
28.0   20240726RUN02_rgb_image0000000028.jpg         197.0
29.0   20240726RUN02_rgb_image0000000029.jpg         204.0
30.0   20240726RUN02_rgb_image0000000030.jpg         211.0
31.0   20240726RUN02_rgb_image0000000031.jpg         218.0
32.0   20240726RUN02_rgb_image0000000032.jpg         225.0
33.0   20240726RUN02_rgb_image0000000033.jpg         232.0
34.0   20240726RUN02_rgb_image0000000034.jpg         239.0
35.0   20240726RUN02_rgb_image0000000035.jpg         246.0
36.0   20240726RUN02_rgb_image0000000036.jpg         253.0
37.0   20240726RUN02_rgb_image0000000037.jpg         260.0
38.0   20240726RUN02_rgb_image0000000038.jpg         267.0
39.0   20240726RUN02_rgb_image0000000039.jpg         274.0
40.0   20240726RUN02_rgb_image0000000040.jpg         281.0
41.0   20240726RUN02_rgb_image0000000041.jpg         288.0
42.0   20240726RUN02_rgb_image0000000042.jpg         295.0
43.0   20240726RUN02_rgb_image0000000043.jpg         302.0
44.0   20240726RUN02_rgb_image0000000044.jpg         309.0
45.0   20240726RUN02_rgb_image0000000045.jpg         316.0
46.0   20240726RUN02_rgb_image0000000046.jpg         323.0
47.0   20240726RUN02_rgb_image0000000047.jpg         330.0
48.0   20240726RUN02_rgb_image0000000048.jpg         337.0
49.0   20240726RUN02_rgb_image0000000049.jpg         344.0
50.0   20240726RUN02_rgb_image0000000050.jpg         351.0
51.0   20240726RUN02_rgb_image0000000051.jpg         358.0
52.0   20240726RUN02_rgb_image0000000052.jpg         365.0
53.0   20240726RUN02_rgb_image0000000053.jpg         372.0
54.0   20240726RUN02_rgb_image0000000054.jpg         379.0
55.0   20240726RUN02_rgb_image0000000055.jpg         386.0
56.0   20240726RUN02_rgb_image0000000056.jpg         393.0
57.0   20240726RUN02_rgb_image0000000057.jpg         400.0

In [95]:
# fra_meg_df = pd.merge(meg_df, fra_df, left_on='iri_index', right_on='chainage_pic', how='left')

results = []

# Iterate over each row in meg_df
for _, meg_row in meg_df.iterrows():
    # Find the rows in fra_df that satisfy the condition
    condition = (fra_df.index >= meg_row['event_str']) & (fra_df.index < meg_row['event_end'])
    matching_fra_df = fra_df[condition]
    
    # Create a DataFrame by combining the matching rows with the corresponding meg_df row
    combined_df = matching_fra_df.copy()
    for col in meg_df.columns:
        combined_df[col] = meg_row[col]
    
    # Append the combined DataFrame to the results list
    results.append(combined_df)

# Concatenate all the results into a single DataFrame
joined_df = pd.concat(results)

joined_df.to_csv('join_df.csv')

In [100]:
print(len(joined_df))

880

max(chainage) / max(frame_number) * frame_number = chainage

In [25]:
print(max_chainage)
print(max_frame)

a = round((max_chainage / max_frame) * 57)
print(a)

6180.0
880.0
400

In [125]:
# Load Log data
log = r'D:\Xenomatix\20240726\log_xenomatix_20240726.xlsx'
log_df = pd.read_excel(log)
log_df.rename(columns={'ผิว': 'event_name', 'link_id ระบบ': 'section_id'}, inplace=True)
log_df.columns = log_df.columns.str.strip()

max_chainage
max_frame

# Add 'index' column
log_df['index'] = range(1, len(log_df) + 1)
log_df.set_index('index', inplace=True)

# left join
merged_df = pd.merge(rut_df, log_df, on='survey_code', how='left')

# Calculate 'chainage' based on 'numb_start' column
def process_group(df):
    df['event_str'] = round(df['numb_start'] * (max_chainage / max_frame))
    df['event_end'] = round(df['numb_end'] * (max_chainage / max_frame))
    df['event_num'] = df['event_name'].iloc[0] if len(df['event_name']) > 0 else None
    df['event_type'] = 'pave type'
    df['link_id'] = df['linkid']
    df['survey_date'] = df['survey_code']
    df['lat_str'] = df['rut_point_x'].iloc[0] if len(df['rut_point_x']) > 0 else None
    df['lat_end'] = df['rut_point_x'].iloc[-1] if len(df['rut_point_x']) > 0 else None
    df['lon_str'] = df['rut_point_y'].iloc[0] if len(df['rut_point_y']) > 0 else None
    df['lon_end'] = df['rut_point_y'].iloc[-1] if len(df['rut_point_y']) > 0 else None
    df['name_key'] = df['survey_code'].str.replace('RUN0', '_')
    df['run_code'] = df['name_key'].str.split('_').str[-1]
    return df

processed_df = merged_df.groupby('survey_code', group_keys=False).apply(process_group).reset_index(drop=True)

# Group by 'linkid' and 'survey_date' and get the first row of each group
result_df = processed_df.groupby(['linkid', 'survey_date']).first().reset_index()

selected_columns = [
    'event_str', 'event_end', 'event_num', 'event_type', 'ebent_name', 'link_id', 'section_id', 
    'km_start', 'km_end', 'length', 'lane_no', 'survey_date', 'lat_str', 'lat_end', 'lon_str', 
    'lon_end', 'name_key', 'rub_code'
]

selected_columns = [col for col in selected_columns if col in result_df.columns]
result_df = result_df[selected_columns]

! แก้ lat lon ให้ถูกต้อง

In [128]:
result_df.head(5)

,event_str,event_end,event_num,event_type,link_id,section_id,km_start,km_end,length,survey_date,lat_str,lat_end,lon_str,lon_end,name_key
0,400.0,4593.0,AC,pave type,01900124046R1AC03,101655,4+300,0+000,4179,20240726RUN02,13.85304,13.856224,100.443802,100.490839,20240726_2
1,4593.0,6047.0,AC,pave type,01900990008R1AC04,101641,2+520,0+000,1449,20240726RUN02,13.85304,13.856224,100.443802,100.490839,20240726_2

In [127]:
result_df.head(16)

# 13.85304	100.443802	
# 13.856224	100.490839

,event_str,event_end,event_num,event_type,link_id,section_id,km_start,km_end,length,survey_date,lat_str,lat_end,lon_str,lon_end,name_key
0,400.0,4593.0,AC,pave type,01900124046R1AC03,101655,4+300,0+000,4179,20240726RUN02,13.85304,13.856224,100.443802,100.490839,20240726_2
1,4593.0,6047.0,AC,pave type,01900990008R1AC04,101641,2+520,0+000,1449,20240726RUN02,13.85304,13.856224,100.443802,100.490839,20240726_2

In [71]:
merged_df = pd.DataFrame()
for iri_index, iri_row in rut_df.iterrows():
    # Find all rows in rut_df where rut_df.index is between iri_row['event_str'] and iri_row['event_end']
    condition = (rut_df.index >= iri_row['event_str']) & (rut_df.index < iri_row['event_end'])
    matched_rows = rut_df[condition]

    # If there are matched rows, append them with the current iri_row
    if not matched_rows.empty:
        matched_rows = matched_rows.copy()
        if 'survey_code' in matched_rows.columns:
            matched_rows.drop(columns=['survey_code'], inplace=True)
        for col in iri_df.columns:
            matched_rows[col] = iri_row[col]
        merged_df = pd.concat([merged_df, matched_rows])

merged_df.reset_index(inplace=True)